.lookatme {
    color: #ff9000;
}
h3 {
    font-family: fantasy;
    font-family: 'Trebuchet MS';
}
h4 {
    font-family: 'Tahoma';
}
p {
    font-family:'Tahoma';
}
#start {
    font-family: 'Arial'
}

body {
    background-image: linear-gradient(CornflowerBlue, DarkCyan);
}
